<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="HelloWorld" class="HelloWorld"/>
    <bean id="Car" class="Car" init-method="checkEngine" destroy-method="cleanCar" lazy-init="false">
        <property name="model" value="BMW"/>
        <property name="hw"  ref="HelloWorld"/>
    </bean>
</beans>